<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API/Deployment Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body style="margin-top:1em">
    <div class="ui raised very padded text container segment">
        {# Add API stuff here, you can replace the title and image_url fields with your own details #}
        <h1 class="ui header">{{ title }}</h1>
        <img class="ui centered big image" src="{{ image_url }}">
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>